	body {	font-family: Verdana; font-size: 10px; background-color: white; 
			margin-top: 0px; margin-right: 0px; margin-left: 0px; margin-height: 0px; margin-width: 0px;	}
       table {	font-size: 10px; background-color: white; }
	  th {	font-size: 10px; font-color: black; }
	  td {	font-size: 10px; color: black; }
       input {	font-size: 10px; }
      select {	font-size: 10px; }
    textarea {	font-size: 10px; }
      .hdr12 {	font-size: 13px; font-Weight: Bold; color: #9933CC; background-color:#FFFF66; link: #9933CC;}
       .mbar {	background-color: #003399; }
       .mrow {	font-size: 9px; font-style: Normal; background-color: #FEB681; }
       .mrow {	font-size: 9px; font-style: Normal; background-color: #E9DEF2; }
 .mtitleopen {	font-size: 11px; background-color: #9933CC; font-Weight: Bold; text-decoration: None; color: white; }
.mtitleclosed{	font-size: 11px; background-color: #CCCCCC; text-decoration: None; color: #660066; }
 .browseHdrP { 	background-color: #9933CC; border-color: #9933CC; font-size: 9px; font-weight: Bold; text-decoration: None; color: white; }
 .browseHdrC { 	background-color: #FF6666; border-color: #FF6666; font-size: 9px; font-weight: Bold; text-decoration: None; color: white; }
  .browseRow {	background-color: white; font-size: 9px; color: black; }
   .browseHR {	color: #9933CC; size: 0px; }
.selectedRow {	background-color: #FF6666; font-size: 9px; color: black; }
  .processOn {	font-size: 10px; color: #663399; font-Weight: Bold; }
 .processOff {	font-size: 10px; color: #663399; }
      .error {	font-size: 11px; color: red; font-Weight: Bold; }
  .copyright {	font-size: 6pt; color: black; }
      .raquo {	font-size: 11px; color: navy; font-weight: bold; }
   .filterbg {	background-color: #9933CC; color: white; border-color: #FF6666; }
  .filterHdr {	border-color: #9933CC; }
       .tabO {	background-color: orange; border-color: orange; font-size: 9px; font-weight: bold; text-decoration: None; color: white; }
       .tabP {	background-color: #9933CC; border-color: #9933CC; font-size: 9px; text-decoration: None; color: white; }
.lightShadow {	background-color: #CC99CC; }
 .darkShadow {	background-color: #9933CC; }
 .greyShadow {	background-color: #666666; }

       .mnav {	background-color: #9933CC; font-size: 10px; font-Weight: Bold; text-decoration: None; color: white; }
	.thm {	font-size: 11px; color: #663399; text-decoration: None; }
       .thms {	font-size: 11px; color: white; text-decoration: None; }
	.tab {	background-image: url("/hilton/images/tab_buttercup.gif"); }
.selectedTab {	background-image: url("/hilton/images/tab_purple_bg.gif"); }
  .browseHdr {	background-color: #FFFF66; border-color: #9933CC; font-size: 9px; font-weight: Bold; text-decoration: None; color: grey; }
  .browseHdrSpace {	border-color: #9933CC; font-size: 9px; font-weight: Bold; text-decoration: None; color: grey; }
   .formType {	font-size: 11px; color: #663399; font-weight: bold;}

A:link.tabO, link.tabP { color: white; text-decoration: none; }
A:link.processOn { color: #663399; text-decoration: none; }
A:visited.tabO, visited.tabP { color: white; text-decoration: none; }
A:visited.processOn { color: #663399; text-decoration: none; }

