				body	{	font-family: Verdana; font-size: 10px; background-color: white; margin-top: 0px; margin-right: 0px; margin-left: 0px; margin-height: 0px; margin-width: 0px;	}
				table	{	font-size: 10px; background-color: white; }
				th			{	font-size: 10px; font-color: black; }
				td			{	font-size: 10px; color: black; }
				input	{	font-size: 10px; }
				select	{	font-size: 10px; }
			textarea	{	font-size: 11px; }
				.mrow	{	font-size: 9px; font-style: Normal; background-color: #FFFFFF; }
				.mnav	{	background-color: #9999CC; font-size: 10px; font-Weight: Bold; text-decoration: None; color: white; }
					.tab	{	background-color: #FFFF99; font-size: 11px; color: #004080; text-decoration: None; }
			.tabLink	{	font-size: 11px; color: #004080; text-decoration: None; }
	.selectedTab	{	background-color: #9999CC; font-size: 11px; color: #FFFFFF; text-decoration: None;}
		.sTabLink	{	font-size: 11px; color: FFFFFF; text-decoration: None; }
		.separator	{	font-size: 11px; font-Weight: Normal; }
		.mtitleopen	{	background-color: #9999CC; font-size: 11px; font-Weight: Bold; text-decoration: None; color: #000000; }
	.mtitleclosed	{	background-color: #CCCCCC; font-size: 11px; text-decoration: None; color: #004080; }
			.moption	{	background-color: #FFFFFF; font-size: 9px; color: black; }
				.raquo	{	font-size: 11px; font-weight: bold; color: navy; }
			      .error {	font-size: 11px; color: red; font-Weight: Bold; }
		.copyright	{	font-size: 9px; color: black; }
	.darkShadow	{	background-color: #9999CC; }
	.lightShadow	{	background-color: #CC99CC; }
				.hdr12	{	background-color:#FFFF99; font-size: 13px; font-Weight: Bold; color: #004080; }
		.formType	{	font-size: 11px; color: #004080; font-weight: bold; }
				.button	{	background-color: #004080; border:0; }
		.browseHdr {	background-color: #FFFF99; border-color: #9999CC; font-size: 9px; font-weight: Bold; text-decoration: None; }
	.browseHdrDk { 	background-color: #9999CC; border-color: #9999CC; font-size: 9px; font-weight: Bold; text-decoration: None; color: white; }
	   .browseRow {	background-color: white; font-size: 9px; color: black; }
	 .selectedRow {	background-color: #FFFF99; font-size: 9px; color: black; }
		 .browseHR {	color: #9999CC; size: 0px; }
				.filterbg {	background-color: #9999CC; color: white; border-color: #FF6666; }
			  .filterHdr {	border-color: #9999CC; }
		.processOn {	font-size: 10px; color: #004080; font-Weight: Bold; }
		.processOff {	font-size: 10px; color: #004080; }
  .processOnImg {	background-color: #FFFF99;  }
  .processOffImg {	background-color: #9999CC;  }
				.dkbox	{	background-color: #9999CC; font-size: 11px; font-weight: Bold; color: white;	}
				.ltbox	{	background-color: #E9E9E9;	font-size: 11px; font-weight: Bold; color: #333333;	}
			.heading	{	font-size: 14px; font-Weight: Bold; color: #9999CC;	}
		.summary	{	background-color: #E9E9E9; border-color: #9999CC; font-size: 10px; }
   .itemSummary {	background-color: #FFFF99; font-size: 10px; text-decoration: none;}
   .sortedColumn { background-color: #7C8BCC; border-color: #7C8BCC; font-size: 9px; font-weight: Bold; text-decoration: None; color: yellow; }