	body
	{
		font-family: Verdana;
		font-size: 12px;
		background-color: #8305BD;
		margin-top: 0px;
		margin-right: 0px;
		margin-left: 0px;
		margin-height: 0px;
		margin-width: 0px;
	}
	table
	{
		font-family: Verdana;
		font-size: 12px;
		background-color: white;
	}
	th
	{
		font-family: Verdana;
		font-size: 12px;
		font-color: black;
	}
	td
	{
		font-family: Verdana;
		font-size: 12px;
		color: black;
	}
	.browseHdr
	{
		background-color: orange;
		border-color: orange;
		font-family: Verdana;
		font-size: 11px;
		font-weight: Bold;
		text-decoration: None;
		color: white;
	}
	.browseHdrP
	{
		background-color: #8305BD;
		border-color: #8305BD;
		font-family: Verdana;
		font-size: 11px;
		font-weight: Bold;
		text-decoration: None;
		color: white;
	}
	.browseHdrS
	{
		background-color: silver;
		border-color: silver;
		font-family: Verdana;
		font-size: 11px;
		font-weight: Bold;
		text-decoration: None;
		color: white;
	}
	A:link.tabO, link.tabP
	{
		color: white;
		text-decoration: none;
	}
	A:visited.tabO, visited.tabP
	{
		color: white;
		text-decoration: none;
	}