//DARK: #FF6633
//LIGHT: #FF9933
//ACCENT1: #99CC33
//ACCENT2: #0033CC

	body			{	font-family: Verdana;
						font-size: 10px;
						background-color: white;
						margin-top: 0px;
						margin-right: 0px;
						margin-left: 0px;
						margin-height: 0px;
						margin-width: 0px;
					}
	form			{	font-family: Verdana;
						font-size: 10px;
					}
	table			{	font-family: Verdana;
						font-size: 10px;
						background-color: white;
					}
	th				{	font-family: Verdana;
						font-size: 10px;
						font-color: black;
					}
	td				{	font-family: Verdana;
						font-size: 10px;
						color: black;
					}
	input			{	font-family: Verdana;
						font-size: 10px;
					}
	select			{	font-family: Verdana;
						font-size: 10px;
					}
	textarea		{	font-family: Verdana;
						font-size: 10px;
					}
	legend			{	font-family: Verdana;
						font-size: 10px;
						font-Weight: Bold;
					}
	.mrow			{	font-size: 9px;
						font-style: Normal;
						color: #FF6633;
						background-color: #FFFFFF;
					}
	.mnav			{	background-color: #FF6633;
						font-size: 10px;
						font-Weight: Bold;
						text-decoration: None;
						color: #FFFFFF;
					}
		
	.darkShadow	img, .lightShadow img, .mnav img{
					display: none;
				}
	.separator		{	font-size: 11px;
						font-Weight: Normal;
						color: #FF6633
					}
	.mtitleopen		{	background-color: #FF9933;
						font-size: 11px;
						font-Weight: Bold;
						text-decoration: None;
						color: #FFFFFF
					}
	.mtitleclosed 	{	background-color: #CCCCCC;
						font-size: 11px;
						text-decoration: None;
						color: #666666;
					}
	.moption 		{	background-color: #FFFFFF;
						font-size: 9px;
						color: black;
					}
	.raquo 			{	font-size: 11px;
						font-weight: bold;
						color: #FF6633;
					}
	.error 			{	font-size: 11px;
						color: red;
						font-Weight: Bold;
						text-decoration: none;
					}
	.success		{	font-size: 11px;
						color: blue;
						font-Weight: Bold;
						text-decoration: none;
					}
    .red   {	color: red; }
	.copyright		{	font-size: 9px;
						color: #FF6633;
					}
	.darkShadow 	{	background-color: #0033CC; }
	.lightShadow	{	background-color: #99CC33; }
	.hdr12	 		{	background-color:#99CC33;
						font-size: 13px;
						font-Weight: Bold;
						color: #FFFFFF;
					}
	.formType 		{ 	font-size: 11px;
						color: #666666;
						font-weight: bold;
						text-decoration: None;
					}
	.button 		{	background-color: #FF6633; border:0; }
	.browseHdr 		{	background-color: #FF9933;
						border-color: #FF9933;
						font-size: 10px;
						font-weight: Bold;
						text-decoration: None;
						color:#FFFFFF
					}
    .browseHdrDk 	{ 	background-color: #FF6633;
						border-color: #FF6633;
						font-size: 9px;
						font-weight: Bold;
						text-decoration: None;
						color: #FFFFFF;
					}
   	.browseRow 		{	background-color: white;
						font-size: 9px;
						color: black;
					}
   	.selectedRow 	{	background-color: #FFCC66;
						font-size: 9px;
					}
	.browseHR 		{	color: #FF6633;
						size: 0px;
					}
	.sortedColumn	{	background-color: #FF9933;
						border-color: #FF9933;
						font-size: 9px;
						font-weight: Bold;
						text-decoration: None;
						color: yellow;
					}
	.filterbg 		{	background-color: #FF9933;
						color: white;
						border-color: #FF9933;
					}
	.filterHdr 		{	border-color: #FF6633; }
	.processOn 		{	font-size: 10px;
						color: #666666;
						font-Weight: Bold;
						text-decoration:None;
					}
	.processOff 	{	font-size: 10px;
						color: #666666;
						text-decoration: None;
					}
    .processOnImg 	{	background-color: #FF9933;  }
  	.processOffImg 	{	background-color: #FF6633;  }
  .disabledTxtBox {	color: silver;	}
	.label			{ 	font-weight: bold; }
	.message 		{	background-color:#FFFFFF;
						font-size: 11px;
						font-Weight: Bold;
						color: #66CC99;
					}
	.summary		{	background-color: #E9E9E9;
						border-color: #FF6633;
						font-size: 9px;
					}
  	.itemSummary 	{	background-color: #FF6633;
						font-size: 10px;
						text-decoration: none;
						color: #FFFFFF
					}
	.smallText 		{ 	font-family: Arial Narrow;
						font-size: 9px;
						font-weight: normal;
						color: #FF6633;
						text-decoration: None;
					}
	.mediumText		{ 	font-size: 11px;	}
	.largeText		{ 	font-size: 12px;	}
	.menuDate 		{	font-family: Arial Black;
						font-size: 11px;
						color: #FF6633;
						text-decoration: None;
					}
	.menuTitle 		{ 	font-size:16px;
						font-weight: bold;
						color: #000033;
						text-decoration: None;
					}
	.menuSubTitle 	{ 	font-size:13px;
						font-weight: bold;
						color: #000033;
						text-decoration: None;
					}
	.label 			{ 	font-size:10px;
						font-weight: bold;
						color: #000033;
						text-decoration: None;
					}
	.popupMenu 		{
						background-color: #FFFFFF;
						font-size: 10px;
						text-decoration: None;
						color: black;
						border-color:#FF6633;
					}
	.popupMenuOver  {  	background-color: #FF6633;
					   	font-size: 10px;
						text-decoration: None;
						color: #FFFFFF;
					}
	.requiredLabel	{
						font-weight: bold;
						color:red;
						background-color: yellow;
					}
	.requiredLabelHighlight	{
						font-weight: bold;
						background-color: yellow;
					}
	.requiredLabelColor	{
						font-weight: bold;
						color:red;
					}
	.invalidField	{	background-color: yellow;	}
	.featureTitle	{	font-weight: bold;
						font-style: italic;
						font-size: 16;
						font-family: Lucida Sans;
					}
	.feature		{	font-weight: bold;
						font-size: 12;
						font-family: Lucida Sans;
						color: #FF6633;
						background-color: #F3F3F3;
					}

div#tabCorner{ margin: 0 10%;background: #FF6633}
b.rt1{margin: 0 4px; border-color:#FF6633}
b.rt2{margin: 0 2px; border-color:#FF6633}
b.rt3{margin: 0 1px; border-color:#FF6633}
b.rt4{margin: 0 1px; border-color:#FF6633}
b.rttop, b.rtbottom {margin: 0 1px;height: 1px}

div#container{ margin: 0 10%;background: #FF9933}
b.rtop, b.rbottom{display:block;background: #FFF}
b.rtop b {display:block;height: 1px;
    overflow: hidden; background: #FF9933}
b.rbottom b{display:block;height: 1px;
    overflow: hidden; background: inherit }
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 1px}

div#innerContainer{ margin: 0 10%;background: #FFF}
b.ritop, b.ribottom{display:block;background: #FFF}
b.ritop b {display:block;height: 1px;
    overflow: hidden; background: #FF9933}
b.ribottom b{display:block;height: 1px;
    overflow: hidden; background: inherit }
b.ritop b.r4, b.ribottom b.r4{margin: 0 1px;height: 1px}
p{margin: 0 10px}

div#containerclosed{ margin: 0 10%;background: #CCCCCC}
b.rtopclosed, b.rbottomclosed{background: #FFF}
b.rtopclosed b {display:visible; height: 1px;
    overflow: hidden; background: #CCCCCC}
b.rbottomclosed b{display:block;height: 1px;
    overflow: hidden; background: inherit }
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}

div#featureContainer{ margin: 0 10%;background: #F3F3F3}
b.rfeatureTop, b.rfeatureBottom{display:block;background: #FFF}
b.rfeatureTop b {display:block;height: 1px;
    overflow: hidden; background: #F3F3F3}
b.rfeatureBottom b{display:block;height: 1px;
    overflow: hidden; background: #F3F3F3}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 1px}

div#pxbutton {
	height: auto;
	margin-left: -40px;
	height: 28px;
	width: 113px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	list-style-type: none;
	background-image: url(/puridiom/images/orange/button_up.gif);
	background-repeat: no-repeat;
	font-weight: bold;
	line-height: 200%;
	margin: 5px;
	float: center;
	left: 0px;
}
div#pxbutton a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
div#pxbutton a:link {
	color: #FFF;
}
div#pxbutton a:visited {
	color: #FFF;
}
div#pxbutton a:hover {
	font-weight: bold;
	color: #333;
}
div#pxbutton a:active {
	font-weight: bold;
	color: #FFF;
	background-image: url(/puridiom/images/orange/button_down.gif);
	background-repeat: no-repeat;
}
div#pxmediumbutton {
	height: auto;
	margin-left: -40px;
	height: 20px;
	width: 80px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	list-style-type: none;
	background-image: url(/puridiom/images/orange/button_medium_up.gif);
	background-repeat: no-repeat;
	font-weight: bold;
	margin: 2px;
	text-align: center;
	line-height: 167%;
}
div#pxmediumbutton a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
div#pxmediumbutton a:link {
	color: #FFF;
}
div#pxmediumbutton a:visited {
	color: #FFF;
}
div#pxmediumbutton a:hover {
	font-weight: bold;
	color: #333;
}
div#pxmediumbutton a:active {
	font-weight: bold;
	color: #FFF;
	background-image: url(/puridiom/images/orange/button_medium_down.gif);
	background-repeat: no-repeat;
}

div#pxsmallbutton {
	height: auto;
	margin-left: -40px;
	height: 19px;
	width: 18px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	list-style-type: none;
	background-image: url(/puridiom/images/orange/button_sm_up.gif);
	background-repeat: no-repeat;
	font-weight: bold;
	margin: 2px;
	text-align: center;
	line-height: 167%;
}
div#pxsmallbutton a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
div#pxsmallbutton a:link {
	color: #FFF;
}
div#pxsmallbutton a:visited {
	color: #FFF;
}
div#pxsmallbutton a:hover {
	font-weight: bold;
	color: #333;
}
div#pxsmallbutton a:active {
	font-weight: bold;
	color: #FFF;
	background-image: url(/puridiom/images/orange/button_sm_down.gif);
	background-repeat: no-repeat;
}
#footer{
clear:both;
width: auto;
height:37px;
color: #fff;
background-color:#416271;
g-top:10px;
}
.footer_copyright{
	float:left;
	padding-left:15px;
	padding-top:13px;
}
.footer_copyright a{
	text-decoration:none;
	color: #fff;
	padding-left:10px;
}
.footer_copyright a:hover{
text-decoration:underline;
color: #fff;
}
.footer_links{
	float:right;
	padding-right:15px;
	padding-top:13px;
}
.footer_links a{
	text-decoration:none;
	color: #fff;
	padding-left:10px;
}
.footer_links a:hover{
text-decoration:underline;
color: #fff;
}

h4{
	padding:0 0 10px 0;
	margin:0px;
	font-size:14px;
	color:#99CC33;
}
.gettingStarted {
	font-size:12px;
	font-weight:bold;
	color:#99CC33;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
