				body	{	font-family: Verdana; font-size: 10px; background-color: white; margin-top: 0px; margin-right: 0px; margin-left: 0px; margin-height: 0px; margin-width: 0px;	}
				form	{	font-family: Verdana; font-size: 10px; }
				table	{	font-family: Verdana; font-size: 10px; background-color: white; }
				th			{	font-family: Verdana; font-size: 10px; font-color: black; }
				td			{	font-family: Verdana; font-size: 10px; color: black; }
				input	{	font-family: Verdana; font-size: 10px; }
				select	{	font-family: Verdana; font-size: 10px; }
			textarea	{	font-family: Verdana; font-size: 10px; }
				.mrow	{	font-size: 9px; font-style: Normal; background-color: #FFFFFF; }
				.mnav	{	background-color: #7C8BCC; font-size: 10px; font-Weight: Bold; text-decoration: None; color: white; }
					.tab	{	background-color: #FFFAAA; font-size: 11px; color: #004080; text-decoration: None; }
			.tabLink	{	font-size: 11px; color: #004080; text-decoration: None; }
	.selectedTab	{	background-color: #7C8BCC; font-size: 11px; color: #FFFFFF; text-decoration: None;}
		.sTabLink	{	font-size: 11px; color: FFFFFF; text-decoration: None; }
		.separator	{	font-size: 11px; font-Weight: Normal; }
	.mtitleopen	{	background-color: #7C8BCC; font-size: 11px; font-Weight: Bold; text-decoration: None; color: #FFFFFF; }
	.mtitleclosed {	background-color: #CCCCCC; font-size: 11px; text-decoration: None; color: #004080; }
			.moption {	background-color: #FFFFFF; font-size: 9px; color: black; }
				.raquo {	font-size: 11px; font-weight: bold; color: #8C7339; }
			      .error {	font-size: 11px; color: red; font-Weight: Bold; }
		.copyright	{	font-size: 9px; color: black; }
	.darkShadow {	background-color: #7C8BCC; }
	.lightShadow	 {	background-color: #CC99CC; }
				.hdr12	 {	background-color:#FFFAAA; font-size: 12px; font-Weight: Bold; color: #004080; }
		  .formType { font-size: 11px; color: #004080; font-weight: bold; text-decoration: None; }
				.button {	background-color: #004080; border:0; }
	   .browseHdr {	background-color: #FFFAAA; border-color: #7C8BCC; font-size: 10px; font-weight: Bold; text-decoration: None; color:#004080}
    .browseHdrDk { 	background-color: #7C8BCC; border-color: #7C8BCC; font-size: 9px; font-weight: Bold; text-decoration: None; color: white; }
     .browseRow {	background-color: white; font-size: 9px; color: black; }
   .selectedRow {	background-color: #FFFAAA; font-size: 9px; color: black; }
	   .browseHR {	color: #7C8BCC; size: 0px; }
			  .filterbg {	background-color: #7C8BCC; color: white; border-color: #FF6666; }
			  .filterHdr {	border-color: #7C8BCC; }
		.processOn {	font-size: 10px; color: #004080; font-Weight: Bold; text-decoration:None; }
		.processOff {	font-size: 10px; color: #004080; text-decoration: None; }
    .processOnImg {	background-color: #FFFAAA;  }
  .processOffImg {	background-color: #7C8BCC;  }
 .disabledTxtBox {	color: silver;	}
				.label	{ font-weight: bold; }
		.message {	background-color:#FFFFFF; font-size: 11px; font-Weight: Bold; color: #004080; }
		.summary	{	background-color: #E9E9E9; border-color: #7C8BCC; font-size: 9px; }
  .itemSummary {	background-color: #FFFAAA; font-size: 10px; text-decoration: none; color: #004080}
		 .smallText { font-family: Arial Narrow; font-size: 9px; font-weight: normal; color: gray; text-decoration: None; }
		.menuDate { font-family: Arial Black; font-size: 11px; color: #996633; text-decoration: None; }
		.menuDate { font-family: Arial Black; font-size: 11px; color: #000000; text-decoration: None; }
	.menuTitle { font-size:16px; font-weight: bold; color: #004080; text-decoration: None; }
.menuSubTitle { font-size:12px; font-weight: bold; color: #004080; text-decoration: None; }
	.label { font-size:10px; font-weight: bold; color: #000033; text-decoration: None; }
		.popupMenu { background-color: #FFFFFF; font-size: 10px; text-decoration: None; color: black;  border-color:#7C8BCC;	}
.popupMenuOver { background-color: #7C8BCC; font-size: 10px; text-decoration: None; color: #FFFFFF; }
	.requiredLabel	{ font-weight: bold; color:red; background-color: yellow; }
.requiredLabelHighlight	{ font-weight: bold; background-color: yellow; }
.requiredLabelColor	{ font-weight: bold; color:red; }
.sortedColumn { background-color: #7C8BCC; border-color: #7C8BCC; font-size: 9px; font-weight: Bold; text-decoration: None; color: yellow; }