<?xml version="1.0" encoding="iso-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Puridiom 4.0</display-name>
  <description>Puridiom 4.0</description>
  <listener>
	<listener-class>com.tsa.puridiom.PuridiomContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.tsa.puridiom.SessionListener</listener-class>
  </listener>
<!--   	<filter> -->
<!-- 		<filter-name>BadInputFilter</filter-name> -->
<!-- 		<filter-class>com.tsa.puridiom.BadInputFilter</filter-class> -->
<!-- 		<init-param> -->
<!-- 			<param-name>deny</param-name> -->
<!-- 			<param-value>\x00,\x04,\x08</param-value> -->
<!-- 		</init-param> -->
<!-- 		<init-param> -->
<!-- 			<param-name>escapeQuotes</param-name> -->
<!-- 			<param-value>false</param-value> -->
<!-- 		</init-param> -->
<!-- 		<init-param> -->
<!-- 			<param-name>escapeAngleBrackets</param-name> -->
<!-- 			<param-value>false</param-value> -->
<!-- 		</init-param> -->
<!-- 		<init-param> -->
<!-- 			<param-name>escapeJavaScript</param-name> -->
<!-- 			<param-value>false</param-value> -->
<!-- 		</init-param> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>BadInputFilter</filter-name> -->
<!-- 		<url-pattern>*.jsp</url-pattern> -->
<!-- 	</filter-mapping> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>BadInputFilter</filter-name> -->
<!-- 		<url-pattern>/procure</url-pattern> -->
<!-- 	</filter-mapping> -->
<!-- 	<filter> -->
<!-- 		<filter-name>PuridiomProcureFilter</filter-name> -->
<!-- 		<filter-class>com.tsa.puridiom.PuridiomProcureFilter</filter-class> -->
<!-- 		<init-param> -->
<!-- 			<param-name>deny</param-name> -->
<!-- 			<param-value>\x00,\x04,\x08</param-value> -->
<!-- 		</init-param> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>PuridiomProcureFilter</filter-name> -->
<!-- 		<url-pattern>/procure</url-pattern> -->
<!-- 	</filter-mapping> -->
<!-- 	<filter> -->
<!-- 	   	<filter-name>CheckRequestMD5Filter</filter-name> -->
<!-- 	   	<filter-class>com.tsa.puridiom.CheckRequestMD5Filter</filter-class> -->
<!-- 	   	<init-param> -->
<!--             <param-name>error</param-name> -->
<!--             <param-value>/system/error.jsp</param-value> -->
<!--         </init-param> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!--       	<filter-name>CheckRequestMD5Filter</filter-name> -->
<!--       	<url-pattern>/procure</url-pattern> -->
<!-- 	</filter-mapping> -->
	<filter>
	   	<filter-name>CrossScriptingFilter</filter-name>
	   	<filter-class>com.tsa.puridiom.CrossScriptingFilter</filter-class>
	   	<init-param>
            <param-name>allowedPages</param-name>
            <param-value>index.jsp,error.jsp,errorXss.jsp,processing.jsp,iframe_html.jsp,hide_iframe.jsp,get_uom_info.jsp,popup_html.jsp,punchout_return.jsp,type_options.jsp,mail_approve.jsp,/gwt/MSRRequest/</param-value>
        </init-param>
	   	<init-param>
            <param-name>error</param-name>
            <param-value>/system/error.jsp</param-value>
        </init-param>
	</filter>
	<filter-mapping>
      	<filter-name>CrossScriptingFilter</filter-name>
      	<url-pattern>*.jsp</url-pattern>
      	<url-pattern>*.html</url-pattern>
      	<url-pattern>*.htm</url-pattern>
      	<url-pattern>/procure</url-pattern>
	</filter-mapping>
  <servlet>
    <servlet-name>procure</servlet-name>
    <servlet-class>com.tsa.puridiom.HiltonServletController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>version_check</servlet-name>
  	<servlet-class>com.tsa.puridiom.VersionCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>suppliers</servlet-name>
    <servlet-class>com.tsa.puridiom.supplierportal.PuridiomSupplierPortalServletController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HiltonDocumentUploadServlet</servlet-name>
    <servlet-class>com.tsa.puridiom.HiltonDocumentUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HiltonExternalDocumentUploadServlet</servlet-name>
    <servlet-class>com.tsa.puridiom.HiltonExternalDocumentUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HiltonDocumentXlsUploadServlet</servlet-name>
    <servlet-class>com.tsa.puridiom.HiltonDocumentXlsUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HiltonXlsDataUploadServlet</servlet-name>
    <servlet-class>com.tsa.puridiom.HiltonXlsDataUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HiltonStandardFormUploadServlet</servlet-name>
    <servlet-class>com.tsa.puridiom.HiltonStandardFormUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PuridiomSupplierPortalDocumentUpload</servlet-name>
    <servlet-class>com.tsa.puridiom.supplierportal.PuridiomSupplierPortalDocumentUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ApproveRedirect</servlet-name>
    <servlet-class>com.tsa.puridiom.ApproveRedirect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HiltonCatalogItemImageUploadServlet</servlet-name>
    <servlet-class>com.tsa.puridiom.HiltonCatalogItemImageUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ApproveR</servlet-name>
    <servlet-class>com.tsa.puridiom.ApproveRServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RejectR</servlet-name>
    <servlet-class>com.tsa.puridiom.RejectRServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PuridiomServicesStatusServlet</servlet-name>
    <servlet-class>com.tsa.puridiom.PuridiomServicesStatusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PuridiomOrderAck</servlet-name>
    <servlet-class>com.tsa.puridiom.PuridiomOrderAck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PuridiomGraphs</servlet-name>
    <servlet-class>com.tsa.puridiom.PuridiomGraphs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TableLookupServlet</servlet-name>
    <servlet-class>com.tsa.puridiom.TableLookupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServiceLinkServlet</servlet-name>
    <servlet-class>com.tsa.puridiom.ServiceLinkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResetPasswordRedirectServlet</servlet-name>
    <servlet-class>com.tsa.puridiom.ResetPasswordRedirectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResetSupplierPasswordRedirectServlet</servlet-name>
    <servlet-class>com.tsa.puridiom.supplierportal.ResetSupplierPasswordRedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>procure</servlet-name>
    <url-pattern>/procure</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>version_check</servlet-name>
  	<url-pattern>/version</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>suppliers</servlet-name>
    <url-pattern>/supplier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PuridiomOrderAck</servlet-name>
    <url-pattern>/PuridiomOrderAck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PuridiomServicesStatusServlet</servlet-name>
    <url-pattern>/PuridiomServicesStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApproveR</servlet-name>
    <url-pattern>/ApproveR/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RejectR</servlet-name>
    <url-pattern>/RejectR/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HiltonDocumentUploadServlet</servlet-name>
    <url-pattern>/HiltonDocumentUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HiltonExternalDocumentUploadServlet</servlet-name>
    <url-pattern>/HiltonExternalDocumentUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HiltonDocumentXlsUploadServlet</servlet-name>
    <url-pattern>/HiltonDocumentXlsUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HiltonXlsDataUploadServlet</servlet-name>
    <url-pattern>/HiltonXlsDataUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HiltonStandardFormUploadServlet</servlet-name>
    <url-pattern>/HiltonStandardFormUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PuridiomSupplierPortalDocumentUpload</servlet-name>
    <url-pattern>/PuridiomSupplierPortalDocumentUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/servlet/DisplayChart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApproveRedirect</servlet-name>
    <url-pattern>/ApproveRedirect/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HiltonCatalogItemImageUploadServlet</servlet-name>
    <url-pattern>/HiltonCatalogItemImageUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PuridiomGraphs</servlet-name>
    <url-pattern>/PuridiomGraphs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TableLookupServlet</servlet-name>
    <url-pattern>/TableLookup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiceLinkServlet</servlet-name>
    <url-pattern>/Services/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetPasswordRedirectServlet</servlet-name>
    <url-pattern>/ResetPasswordRedirectServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetSupplierPasswordRedirectServlet</servlet-name>
    <url-pattern>/ResetSupplierPasswordRedirectServlet/*</url-pattern>
  </servlet-mapping>
  <!-- security-constraint>
	<web-resource-collection>
		<web-resource-name>securedapp</web-resource-name>
		<url-pattern>/*</url-pattern>
	</web-resource-collection>
	<user-data-constraint>
		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
	</user-data-constraint>
  </security-constraint -->
  <mime-mapping>
    <extension>XLS</extension>
    <mime-type>application/excel</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>XLS</extension>
    <mime-type>application/vnd.ms-excel</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xls</extension>
    <mime-type>application/x-excel</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xls</extension>
    <mime-type>application/vnd.ms-excel</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>pdf</extension>
    <mime-type>application/pdf</mime-type>
  </mime-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
</error-page>
</web-app>
